pyaudio
scipy
pyautogui
bilibili-api-python
pygame
pyyaml
flask
selenium
numpy==1.26.4
git+https://github.com/AkagawaTsurunaki/ZerolanUMP.git
git+https://github.com/AkagawaTsurunaki/zerolan-data.git
retry
requests
loguru
websockets
langchain
langgraph
injector
twitchAPI
Deprecated
aiofiles
python-magic
grpcio
transitions
grpcio-tools
netifaces
# If you are not a developer, you can skip the following packages
pytest
pytest-asyncio
