pyaudio==0.2.14
scipy==1.14.1
pyautogui==0.9.54
bilibili-api-python==16.3.0
pygame==2.6.1
pyyaml==6.0.2
flask==3.0.3
selenium==4.26.1
numpy==1.26.4
zerolan-ui
zerolan-data
retry
requests
loguru
websockets
langchain
langgraph
injector
twitchAPI
pytest