# If dev branch, uncomment following
# git+https://github.com/AkagawaTsurunaki/zerolan-data.git@dev
git+https://github.com/AkagawaTsurunaki/zerolan-data.git@1.5.0
pyaudio
soundfile
pydub
pillow
scipy
pyautogui
pygame
pyyaml
flask
selenium
numpy==1.26.4
retry
requests
loguru
websockets
langchain
langgraph
langchain-core
beautifulsoup4
bilibili-api-python
twitchAPI
python-magic
transitions
netifaces
injector
typeguard
watchdog
openai
gradio
webrtcvad
live2d-py==0.5.0
PyQt5
librosa
# If you are not a developer, you can skip the following packages
pytest
pytest-asyncio
