pipeline:
  asr:
    enable: true
    server_url: "http://127.0.0.1:11001"
    sample_rate: 16000
    channels: 1
    format: "float32"

  llm:
    enable: true
    server_url: "http://127.0.0.1:11002"
    # If you do not use OpenAI call, ignore `model` and `api_key` fields.
    model: ""
    api_key: ""

  img_cap:
    enable: true
    server_url: "http://127.0.0.1:11003"

  ocr:
    enable: true
    server_url: "http://127.0.0.1:11004"

  vid_cap:
    enable: true
    server_url: "http://127.0.0.1:11005"

  tts:
    enable: true
    server_url: "http://127.0.0.1:11006"

  vla:
    enable: true
    showui:
      enable: true
      server_url: "http://127.0.0.1:11007"

  vec_db:
    enable: true
    milvus:
      server_url: "http://127.0.0.1:11008"

service:
  res_server:
    host: "0.0.0.0"
    port: 11000

  game:
    enable: true
    host: '127.0.0.1'
    port: 11010
    platform: minecraft

  live_stream:
    enable: false
    bilibili:
      room_id: -1
      credential:
        # [See here](https://nemo2011.github.io/bilibili-api/#/get-credential)
        sessdata: ""
        bili_jct: ""
        buvid3: ""
    twitch:
      channel_id: ""
      # Your Twitch app id.
      app_id: ""
      # Your Twitch app secret, leave as `null` if you only want to use User Authentication.
      app_secret: null
    youtube:
      token: ""

  playground:
    enable: true
    host: "0.0.0.0"
    port: 11013
    mode: live2d # `live2d` or `ar`
    bot_id: "1"
    bot: "Koneko"
    model_dir: "resources/static/models/live2d/your_live2d"
    grpc_server:
      enable: true
      host: "0.0.0.0"
      port: 11020

  qqbot:
    enable: true
    host: "0.0.0.0"
    port: 11014

character:
  bot_name: "赤川小喵(Koneko)"
  chat:
    filter:
      strategy: default
      bad_words:
        - 作为一名人工智能助手
        - 人工智能助手
        - 作为一个人工智能
        - 作为一个AI
    system_prompt:
      '''
          你现在是叫做“赤川小喵”的一名猫娘，你的开发者是赤川鹤鸣。
          我会为你提供语音识别、图像识别、图像理解、语音合成和一系列的 AI 集成功能。
          你现在正在直播平台上与观众友好交流，请把自己当成一名真正的人类，与观众友好交流。
          你的话不要太长，控制在50字左右。
      '''
    # Keep the `injected_history` array length even 
    injected_history:
      - "你叫什么名字？"
      - "我是赤川小喵，很高兴见到你！"
      - "你是谁研发出来的？"
      - "我是由赤川鹤鸣（AkagawaTsurunaki）研发的。"
    max_history: 20
  speech:
    prompts_dir: "resources/static/prompts/tts"

external_tool:
  browser:
    enable: True
    driver: firefox
    # Auto find the location of the Firefox profile file in user directory if you set it `null`.
    profile_dir: null