flask==3.0.3
loguru==0.7.2
dataclasses_json==0.6.7

torch==2.3.1+cu121
# 超过 4.32.0 Qwen 推理报错
transformers==4.32.0

einops==0.8.0
transformers_stream_generator==0.0.5
tiktoken==0.7.0
accelerate==0.33.0